<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tienda Básica</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header>
    <h1>Tienda Básica la 14</h1>
    <p>Compra tus productos favoritos de manera sencilla</p>
    <p>¡Bienvenido a nuestra tienda online!</p>
  </header>

 <main>
  <section class="productos">
    {% for producto in productos %}
    <div class="producto">
      <h2>{{ producto['nombre'] }}</h2>
      <p>{{ producto['descripcion'] }}</p>
      <p><strong>${{ producto['precio'] }}</strong></p>
      <button>Comprar</button>
      <button>Agregar al carrito</button>
    </div>
    {% endfor %}
  </section>
  
</main>
  <a href="{{ url_for('routes.cart') }}">🛒 Ver Carrito</a>
  <footer>
    <p>© 2025 Tienda Básica. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
